.wrapper {
    background: #f6f6f6;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    padding: 80px 0 100px;
    gap: 30px;
}

.descriptionWrapper {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    text-align: start;
    gap: 20px;
}

.title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: .06em;
    color: #545454;
}

.subtitle {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: .06em;
    color: #545454;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 349px;
    height: 43px;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background: #f1cdb3;
    gap: 15px;
}

.button:hover {
    background: #fddcc4;
}

.number {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: .06em;
    color: #545454;
}

.smallText {
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 18px;
    display: flex;
    align-items: center;
    width: 93.335%;
    color: #b2b2b2;
}

.dogImage {
    height: 261px;
}

@media screen and (max-width: 981px) {
    .contentWrapper {
        align-items: center;
        flex-direction: column;
    }

    .descriptionWrapper {
        order: 1;
    }

    .dogImage {
        order: 2;
    }
}

@media screen and (max-width: 670px) {
    .contentWrapper>img {
        width: 260px;
        height: unset;
    }
}

@media screen and (max-width: 590px) {
    .contentWrapper {
        padding: 42px 0;
    }

    .descriptionWrapper {
        align-items: center;
    }

    .title {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: .06em;
    }

    .subtitle {
        font-family: 'Arial';
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 160%;
        justify-content: center;
        width: 93.335%;
        letter-spacing: .1px;
    }

    .button {
        width: 93.335%;
    }

    .number {
        font-size: 15px;
        line-height: 110%;
    }

    .smallText {
        text-align: justify;
    }
}