.wrapper {
    background-color: #fff;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
    padding: 80px 0 100px;
    gap: 10px;
}

.textContentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    text-align: left;
    gap: 10px;
    gap: 25px;
}


.title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    line-height: 45px;
    letter-spacing: .06em;
    color: #545454;
}

.text {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #4c4c4c;
}

@media screen and (max-width: 769px) {
    .contentWrapper {
        align-items: center;
        flex-direction: column;
        gap: 80px;
    }

    .textContentWrapper {
        order: 1;
    }

    .contentWrapper>img {
        order: 2;
    }
}

@media screen and (max-width: 590px) {
    .contentWrapper {
        padding: 42px 0;
        gap: 22px;
    }

    .textContentWrapper {
        max-width: unset;
        text-align: justify;
    }

    .title {
        font-size: 25px;
        line-height: 130%;

        text-align: center;
        letter-spacing: .06em;
    }

    .contentWrapper>img {
        width: 260px;
    }
}