.wrapper {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.dogImage {
    position: absolute;
    right: 0;
    bottom: 0;
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 716px;
    padding: 56px 0 0 40px;
}

@media screen and (max-width: 1130px) {
    .wrapper {
        height: 639px;
    }

    .contentWrapper {
        margin: auto;
        padding: 30px 0 0;
    }

    .dogImage {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 670px) {
    .contentWrapper {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .wrapper {
        height: 809px;
    }

    .dogImage {
        width: 260px;
    }
}