.wrapper {
    background: #fff;
}

.contentWrapper {
    padding: 80px 0 100px;
}

.title {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: .06em;
    color: #545454;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 120px;
}

@media screen and (max-width: 769px) {
    .cardWrapper {
        gap: 60px;
    }
}

@media screen and (max-width: 590px) {
    .contentWrapper {
        padding: 42px 0;
    }

    .cardWrapper {
        gap: 30px;
    }

    .title {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: .06em;
    }
}