.modalOverlay {
    position: fixed;
    z-index: 101;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
}


.burgerActive {
    position: absolute;
    z-index: 102;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    animation: slideInRight .5s forwards;
    background: url(../assets/images/webp/cozy-burger-background.webp);
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.burgerActive .link,
.burgerActive button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: .06em;
    border: 0;
    color: black;
    background-color: unset;
    font-family: 'Georgia';
    font-size: 25px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    outline: none;
}

.link:visited {
    color: black;
}

.closeButton {
    position: absolute;
    top: 43px;
    right: 43px;
    width: 30px;
    height: 30px;
}

.navigationWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 100px 0 0 20px;
    color: black;
    gap: 20px;
}

.navigationWrapper li {
    width: fit-content;
    border-radius: 20px;
    background-color: bisque;
}

@media screen and (max-width: 520px) {
    .burgerActive button {
        font-size: 20px;
    }

    .closeButton {
        right: 23px;
    }
}

@media screen and (max-width: 370px) {
    .burgerActive button {
        font-size: 16px;
    }
}