@import '../styles/Mixin.scss';

.preloaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}

.preloaderGif {
    height: 95%;

    @include mobile {
        height: auto;
    }
}
